<%= form_for(@picture, remote: true) do |f| %>

  <span class="picture">
    <%= f.file_field :link, accept: 'image/jpeg, image/gif, image/png' %> <br>
  	<%= f.submit "Add Picture to List", class: "btn btn-primary" %> <br><br></span>

<% end %>