New Image

<%= form_for(@image) do |f| %>

	<div class="well">

		<div class="field">
			<%= f.label :link %>:
			<%= f.text_field :link, size: 100 %>
		</div><br>

		<div class="actions">
			<%= f.submit class: "btn btn-success" %>
		</div>

	</div>

<% end %>