<div class="container">
	<div class="row">
		<h1><%= @stack.title %></h1>
		<p>
			<% @stack.entries.each do |entry| %>
				<%= entry.title %> <br>
				<%= entry.question %> <br>
				<%= image_tag(entry.picture.link, height: 200) if entry.picture %> <br><br>
			<% end %>
		</p>
	</div>
</div>