<div class="container">
	<div class="row">
		<div class="well col-md-4 col-md-offset-4 col-xs-12 centered" data-no-turbolink>

			<h4><%= @entry.question %> </h4>

			<%= image_tag(@entry.picture.link, height: '250', id: "swipeable_card" ) %> 

			<p>
			<br>
				<%= link_to "No", vote_card_path(@stackid, @seq, card_show_time: @card_show_time, response: false), method: :post, class: "btn btn-danger btn-lg", id: "voteno" %>
				<%= link_to "Yes", vote_card_path(@stackid, @seq, card_show_time: @card_show_time, response: true), method: :post, class: "btn btn-success btn-lg", id: "voteyes" %>
			</p>
		</div>
	</div>
</div>